JHPTcpClient/.vs
JHPTcpClient/JHPTcpClient/x64
JHPTcpClient/x64
JHPTcpServer/.vs
JHPTcpServer/Debug
JHPTcpServer/JHPTcpServer/Debug
JHPTcpServer/JHPTcpServer/Release
JHPTcpServer/JHPTcpServer/x64
JHPTcpServer/Release
JHPTcpServer/x64
